/****** Script do comando SelectTopNRows de SSMS  ******/
SELECT DISTINCT 
D1.CODMAT as TE1_CODCOL,
		SUBSTRING (D2.CGC, 2 , 8 ) as TE1_CODFOR, 
		SUBSTRING (D2.CGC, 12 , 4 ) as TE1_LOJA,
		D2.RSOCIAL as TE1_NOME,
		SUBSTRING (D2.CGC, 2 , 14 ) as TE1_CNPJ,
		D1.NF as TE1_DOC,
		D1.DTCOMPRA as TE1_DTNOTA,
		D1.SITUACAO as TE1_SITUA,
		D1.OBSENCERRA as TE1_OBSER,
		D1.MARCA as TE1_MARCA, 
		D1.COR as TE1_COR,
		D1.MODELO as TE1_MODELO,
		D1.TAMANHO as TE1_TAM,
		D1.NSERIE aS TE1_NUMSER, 
		D1.CODPOS as TE1_LOCAL,
		D3.NOMEPOS as TE1_DSCPOS,
		D1.COLETE as TE1_CODPRO,
		D1.DTMOV as TE1_DTMOV,
		D1.COLETE as TE1_DESPRO,
		D1.FILIAL as FILIAL_HK,
		D4.NOMEFILIAL as RSOCIAL_HK,
		D4.CGC as CNPJ_HK,
		D1.EMPRESA as TE1_FILIAL,
		"TE1_SITUA" = CASE 
				WHEN SITUACAO = '3'  THEN '2'
				WHEN SITUACAO = '4'  THEN '5'
				WHEN SITUACAO = '7'  THEN '6'
				WHEN SITUACAO = '10' THEN '7'
					  END,
		"TE1_CODPRO" = CASE 
				WHEN COLETE = 'VERDADEIRO'  THEN 'AR.0003.00002'
					 END,
		"TE1_DESPRO" = CASE 
				WHEN COLETE = 'VERDADEIRO'  THEN 'COLETE BALISTICO '
					END,
		"TE1_FILIAL" = CASE 
				WHEN D1.EMPRESA = '167'  THEN '02010001'
				WHEN D1.EMPRESA = '242'  THEN '03010001'
				WHEN D1.EMPRESA = '7'    THEN '01050001'
				WHEN D1.EMPRESA = '60'   THEN '01010004'
					END

FROM  SARMATPO_GERAL D1
LEFT JOIN DADOS_FORNECEDORES D2 ON D1.CODFOR = D2.CODFOR
INNER JOIN SARPOSTO_GERAL D3 ON D3.CODCLI = D1.CODCLI AND D3.CODPOS = D1.CODPOS
LEFT JOIN SARCONTR_GERAL D4 ON D4.EMPRESA = D1.EMPRESA AND D4.FILIAL = D1.FILIAL
WHERE D1.SITUACAO IN ('3', '4', '7', '10') AND COLETE  = 'VERDADEIRO' AND
	  D1.MARCA NOT IN ('MOTOROLA', 'NEXTEL') AND 
	  D1.TIPO NOT IN ('NEXTEL', 'RADIO NEXTEL') AND  
	  D1.SITUACAO NOT IN ('8')
	  --AND D1.CODCLI = '20078'
	  AND D4.INATIVO = '0'
ORDER BY TE1_CODCOL

SELECT * FROM SARCONTR_GERAL WHERE EMPRESA = '167' --D4
SELECT * FROM SARPOSTO_GERAL --D3
SELECT * FROM SARMATPO_GERAL WHERE EMPRESA = '167' AND COLETE = 'VERDADEIRO'--D4 --D1

SELECT * FROM SARMATPO_GERAL WHERE COLETE  = 'VERDADEIRO' AND SITUACAO IN ('3', '4', '7', '10') AND EMPRESA = 60

SELECT * FROM DADOS_FORNECEDORES WHERE NOMEFOR like '%RELEVO%'

SELECT * FROM SARPOSTO_GERAL
--SITUACAO HK
--3 -  IMPLANTADO  /  2 - PROTHEUS
--4 -  ROUBADO     /  5 - PROTHEUS
--7 -  EXTRAVIADO  /  6 - PROTHEUS
--10 - APREENDIDO  /  7 - PROTHEUS          

--SELECT * FROM vwlocais
--SELECT * FROM SARMATPO WHERE COLETE = 'T'
--PRODUTO NO PROTHEUS
--AR.0003.00002	COLETE BALISTICO              
