/****** Script do comando SelectTopNRows de SSMS  ******/
SELECT  DISTINCT 
		D1.CODARMA as TE0_COD,
		D1.NF as TE0_DOC,
		D1.DTCOMPRA as TE0_COMPRA,
		SUBSTRING (D5.CGC, 1 , 8 ) as TE0_CODFOR, 
		SUBSTRING (D5.CGC, 11 , 4 ) as TE0_LOJA,
		D5.RSOCIAL as TE0_NOME,
		SUBSTRING (D5.CGC, 2 , 14 ) as TE0_CNPJ,
		D1.SITUACAO as TE0_SITUA,
		"TE0_SITUA" = CASE 
		WHEN D1.SITUACAO = '12' THEN '2' --Implantada
		WHEN D1.SITUACAO = '10' THEN '1' --Ativa na Reserva
		WHEN D1.SITUACAO = '5'  THEN '7' --Apreendida
		WHEN D1.SITUACAO = '3'  THEN '5' --Roubada
		WHEN D1.SITUACAO = '2'  THEN '4' --Furtada
		WHEN D1.SITUACAO = '15' THEN '9' --Encerrada
		WHEN D1.SITUACAO = '13' THEN '2' --Implantada
		WHEN D1.SITUACAO = '4'  THEN '6' --Extraviada
		END,
		('B.O' +SPACE(1)+ D1.BO + '-' +SPACE(1)+SUBSTRING(D1.DP, 1, 20)+D1.GT) AS TE1_OBS,
		D1.MARCA as TE0_MARCA, 
		D1.CALIBRE as TE0_CALIBR,
		D1.CALIBRE as TE0_CODPRO,
		"TE0_CODPRO" = CASE 
		WHEN D1.CALIBRE = '38'  THEN 'AR.0002.00010'
		WHEN D1.CALIBRE = '380' THEN 'AR.0002.00001'
		WHEN D1.CALIBRE = '12'  THEN 'AR.0002.00011'
		END,
		D1.CALIBRE as TE0_DESPRO,
		"TE0_DESPRO" = CASE 
		WHEN D1.CALIBRE = '38'  THEN 'REVOLVER CALIBRE 38'
		WHEN D1.CALIBRE = '380' THEN 'PISTOLA CALIBRE 380'
		WHEN D1.CALIBRE = '12'  THEN 'ESPINGARDA CALIBRE 12'
		END,
		D1.CALIBRE as TE0_ESPEC,
		"TE0_ESPEC" = CASE 
		WHEN D1.CALIBRE = '38'  THEN '1' --Revolver
		WHEN D1.CALIBRE = '380' THEN '2' --Pistola
		WHEN D1.CALIBRE = '12'  THEN '3' --Espingarda
		END,
		--D1.TIPO as TE0_ESPEC,
		D1.MODELO as TE0_MODELO,
		D1.FUNCIONA as TE0_TPRAIA,
		D1.CANO aS TE0_CANO, 
		"TE0_CANO" = CASE 
		WHEN D1.CANO IN( '7')  THEN '1' --100mm PEQUENO
		WHEN D1.CANO in( '4','5','8')  THEN '3' --101mm MEDIO
		WHEN D1.CANO IN( '1', '2','3','9') THEN '2' --102mm GRANDE
		END,
		D1.CODPOS as TE0_LOCAL,
		D1.DTMOVAR as TE0_DTALOC,
		--D2.ABS_DESCRI as TE0_CLIDES,
		D1.CORONHA as TE0_CORON,
		"TE0_CORON" = CASE 
		WHEN D1.CORONHA = '1' THEN '2' --MADEIRA
		WHEN D1.CORONHA = '2' THEN '3' --PLASTICO
		WHEN D1.CORONHA = '3' THEN '3' --PLASTICO
		WHEN D1.CORONHA = '4' THEN '5' --NYLON - CADASTRAR NO PROTHEUS
		WHEN D1.CORONHA = '5' THEN '1' --BORRACHA
		END,
		D1.NUMCANO as TE0_QTDCAN,
		D1.TPARMA as TE0_FUNCIO,
		"TE0_FUNCIO" = CASE 
		WHEN D1.TPARMA = 'REPETICAO'   THEN '1'
		WHEN D1.TPARMA = 'REPETIÇÃO'   THEN '1'
		WHEN D1.TPARMA = 'SEMIAUT'     THEN '3'
		WHEN D1.TPARMA = 'SEMIAUTOMA'  THEN '3'
		END,
		D1.QTRAIA as TE0_QTDRAI,
		D1.SNTRAIA as TE0_SENTRA,
		D1.QT_MUNI as TE0_CAPMUN,
		D1.SSP as TE0_NUMREG,
		D1.DTSSP as TE0_DTREG,
		D1.ESTADOSSP as TE0_ORGAO,
		D1.EMPRESA as TE0_CDPAIS,
		"TE0_CDPAIS" = CASE 
		WHEN D1.EMPRESA = '167' THEN '105' --PATRIMONIAL BAHIA
		WHEN D1.EMPRESA = '242' THEN '105' --PATRIMONIAL MG
		WHEN D1.EMPRESA = '7'   THEN '105' --PATRIMONIAL RJ
		WHEN D1.EMPRESA = '60'  THEN '105' --PATRIMONIAL SP
		END,
		D1.PAIS as TE0_DCPAIS,
		D1.DP as TE0_DELEG,
		D1.ACABAMENTO as TE0_ACABA,
		D1.EMPRESA as TE0_FILIAL,
		"TE0_FILIAL" = CASE 
		WHEN D1.EMPRESA = '167' THEN '02010001' --PATRIMONIAL BAHIA
		WHEN D1.EMPRESA = '242' THEN '03010001' --PATRIMONIAL MG
		WHEN D1.EMPRESA = '7'   THEN '01010005' --PATRIMONIAL RJ
		WHEN D1.EMPRESA = '60'  THEN '01010004' --PATRIMONIAL SP
		END,
		D1.SINARTE as TE0_SINARM
		 
FROM SARCARMA_GERAL D1
LEFT JOIN SARPOSTO_GERAL D2 on D1.CODCLI = D2.CODCLI AND D1.CODPOS = D2.CODPOS AND D1.EMPRESA = D2.EMPRESA
LEFT JOIN CLIENTES_GERAL D3 ON D1.CODCLI = D3.CODCLI 
LEFT JOIN SARPOSTO_GERAL D4 ON D1.CODCLI = D4.CODCLI
LEFT JOIN CPFORNEC_GERAL D5 ON D5.CODFOR = D1.CODFOR AND D5.EMPRESA = D1.EMPRESA
--WHERE D1.EMPRESA = '167'
ORDER BY D1.EMPRESA, TE0_COD ASC


SELECT CANO, EMPRESA FROM SARCARMA_GERAL GROUP BY CANO, EMPRESA ORDER BY  EMPRESA ASC

SELECT EMPRESA,* FROM SARCARMA_GERAL WHERE CODARMA IN ('467516')


SELECT * FROM CLIENTES_GERAL WHERE --CODARMA = 'XL268358'
SELECT * FROM SARPOSTO_GERAL WHERE = 'XL268358'  
SELECT * FROM CPFORNEC_GERAL WHERE = 'XL268358'

--


--WHERE CODCLI NOT IN ('0') AND D1.TIPO = '2' AND CODARMA = 'CMA010'--AND SITUACAO NOT IN ('2', '3')

/*
SELECT *  FROM SARCARMA WHERE CODARMA = '467199'
SELECT * FROM VWLOCAIS WHERE POSTO_SARWIN = '3198'
--UPDATE SARCARMA SET CODFOR = '000001' WHERE CODCLI NOT IN ('0') AND CODFOR = '1'


SELECT CGC,* FROM DADOS_FORNECEDORES WHERE SUBSTRING (CGC, 2 , 8 ) = '50087022'
SELECT * FROM DADOS_CLIENTES WHERE CODCLI = '20071' AND NOMEGRU LIKE '%CAMPINAS%'
SELECT * FROM DADOS_LOCAIS WHERE CODPOS = '3198' 
--AR.0002.00001 PISTOLA CALIBRE 380           
--AR.0002.00010 REVOLVER CALIBRE 38
--AR.0002.00011 ESPINGARDA CALIBRE 12



BEGIN TRANSACTION 
UPDATE SARCARMA SET CODARMA = REPLACE(CODARMA, ' ', '')

Rollback
COMMIT
*/


